<section class="main-tabs-tab-content active" id="tab-content-stats">
    <div class="top-stats">
      <div class="top-stats-elem">
        <div><h1 id="cat">2h</h1> <p class="percent">13%</p></div>
        <h2>Day</h2>
      </div>
      <div class="top-stats-elem">
        <div><h1>22<span class="smaller">h</span></h1> <p class="percent">23%</p></div>
        <h2>Week</h2>
      </div>
      <div class="top-stats-elem">
        <div><h1>52<span class="smaller">h</span></h1> <p class="percent percent-down">-7%</p></div>
        <h2>Month</h2>
      </div>
    </div>
    <div>
      @@include('../../tabs/index.html', {
        "tab1": "Day",
        "tab2": "Week",
        "tab3": "Month",
        "tabId": "chart-tabs"
      })
      @@include('./chart/index.html', {
        "type": "day",
        "active": "active"
      })
      @@include('./chart/index.html', {
        "type": "week",
        "active": ""
      })
      @@include('./chart/index.html', {
        "type": "month",
        "active": ""
      })
    </div>
    <div class="detailed-table">
        <table id="detailed-table-table">
          <tr id="insert-table">
            <td></td>
          </tr>
        </table>
    </div>
</section>