<section class="main-tabs-tab-content" id="tab-content-settings">
    <div class="settings-block">
        <h5>Stats</h5>
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Display category on YouTube</span>
                        <span>@@include('./switch/index.html')</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Display stats on YouTube</span>
                        <span>@@include('./switch/index.html')</span>
                    </div>
                </td>
            </tr>
        </table>
        <p class="small-sprint">The extension will display information on YouTube</p>
    </div>
    <div class="settings-block">
        <h5>Restrict</h5>
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Only warn</span>
                        <span>@@include('./switch/index.html')</span>
                    </div>
                </td>
            </tr>
        </table>
        <p class="small-sprint">If you keep this setting on you will be able bypass the restriction</p>
    </div>
    <div class="settings-block">
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Pause extension</span>
                        <span>@@include('./switch/index.html')</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>