<section class="main-tabs-tab-content" id="tab-content-settings">
    <div class="settings-block">
        <h5>Stats</h5>
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Display category on YouTube</span>
                        <span>@@include('./switch/index.html', {"switch-name": "displayCategory",})</span>
                    </div>
                </td>
            </tr>
        </table>
        <p class="small-sprint">The extension will display current category on YouTube</p>
    </div>
    <div class="settings-block">
        <h5>Restrict</h5>
        <table class="table-restrict">
             <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Notify when time is running low</span>
                        <span>@@include('./switch/index.html', {"switch-name": "lowTimeNotifications",})</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Warn only</span>
                        <span>@@include('./switch/index.html', {"switch-name": "warnOnly",})</span>
                    </div>
                </td>
            </tr>
        </table>
        <p class="small-sprint">With this setting on you will only be notified and be able to continue watching despite the restriction</p>
    </div>
    <div class="settings-block">
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Dark appearance</span>
                        <span>@@include('./switch/index.html', {"switch-name": "isDark",})</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Pause extension</span>
                        <span>@@include('./switch/index.html', {"switch-name": "isExtensionPaused",})</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>