<section class="main-tabs-tab-content" id="tab-content-settings">
    <div class="settings-block">
        <h5>Stats</h5>
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Display category on YouTube</span>
                        <span>@@include('./switch/index.html', {"switch-name": "displayCategory",})</span>
                    </div>
                </td>
            </tr>
        </table>
        <p class="small-sprint">The extension will display current category on YouTube</p>
    </div>
    <div class="settings-block">
        <h5>Restrict</h5>
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Notify 5 minutes before time ends</span>
                        <span>@@include('./switch/index.html', {"switch-name": "lowTimeNotifications",})</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Disable notifications</span>
                        <span>@@include('./switch/index.html', {"switch-name": "disableNotifications",})</span>
                    </div>
                </td>
            </tr>
        </table>
        <p class="small-sprint">
            Turn this setting on if you don't want to receive notifications about time running out
        </p>
    </div>
    <div class="settings-block">
        <table class="table-restrict">
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Dark appearance</span>
                        <span>@@include('./switch/index.html', {"switch-name": "isDark",})</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="table-inner-wrapper">
                        <span>Pause extension</span>
                        <span>@@include('./switch/index.html', {"switch-name": "isExtensionPaused",})</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>